<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <servers>
        <server>
            <id>simplecloud-dev-ops-maven-default</id>
            <username>maven-default-1630464148102</username>
            <password>aa80bdbfb751dc2a3a7b08bfe621e2bde336a7cf</password>
        </server>
    </servers>
</settings>

